<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventário FastAPI</title>
    <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
  </head>
  <body>
    <section class="section">
      <table class="table is-fullwidth">
        <h2 class="subtitle is-2 center">Inventário</h2>
        <tr class="is-selected">
          <th>Nome</th>
          <th>Categoria</th>
          <th>Quantidade</th>
        </tr>
        {% for item in inventario %}
        <tr>
          <th>{{ item['nome'] }}</th>
          <th>{{ item['categoria'] }}</th>
          <th>{{ item['quantidade'] }}</th>
        </tr>
        {% endfor %}
      </table>
    </section>
  </body>
</html>
